langchain
langchain-groq
langchain-community
langchain-openai
langgraph
sentence-transformers
faiss-cpu
tiktoken
chromadb
pypdf
python-dotenv
pymupdf
python-docx
docx2txt
unstructured[docx]
pandas
openpyxl
matplotlib
## Embeddings
langchain-huggingface
sentence-transformers
langchain-google-genai
langchain-core
langchain-nvidia-ai-endpoints
ollama
langchain-ollama
langchain-groq
faiss-cpu
langchain-pinecone
langchain-experimental
rank-bm25
wikipedia
arxiv
feedparser
langgraph-cli[inmem]